.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  color: #333;
}

.input-group {
  width: 425px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

input {
  padding: 8px 16px;
}

button {
  margin-top: 16px;
  padding: 6px 24px;
  cursor: pointer;
}

p {
  margin-top: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
